@media (max-width:1440px) {
  body {
    display: block;
  }
  .presentation {
    max-width: 1400px;
    width: calc(100% - 40px);;
    padding: 20px;
    height: auto;
    overflow: unset;
  }
  img {
    width: 100%;
    height: auto;
  }
  .image-box img {
    width: unset;
  }
  .txt-left {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .txt-right {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .bitmap {
    overflow-x: auto;
  }
  .bitmap div {
    min-width: 630px;
    text-align: left;
  }
  .bitmap div div {
    min-width: unset;
  }
}